nav.main {
  display: flex;
  background-color: green;
  color: white;
}

nav.main a {
  padding: 12px 16px;
  text-decoration: none;
  color: inherit;
}

nav.main a:nth-of-type(3) {
  margin-left: auto;
}

nav.main a:hover {
  background-color: #ddd;
  color: black;
}
