table.Naver {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

table.Naver tbody td {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.Naver tr:hover {
  background-color: #ccc !important;
  cursor: pointer;
}

table.Naver tr:nth-of-type(odd) {
  background-color: #ddd;
}
