section.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav.main {
  background-color: aqua;
  color: blue;
}

nav.main ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav.main li {
  padding: 8px 16px;
  margin: 6px;
  background-color: greenyellow;
}

nav.main li:hover {
  background-color: #777;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
