input,
button,
textarea {
  font-size: 1em;
  border: none;
  border-radius: 8px;
  padding: 0.5em 0.8em;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  line-height: 1.5;
}

button {
  color: #3992ff;
  font-weight: 500;
}

input:hover,
textarea:hover,
button:hover {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.App {
  text-align: center;
}

.App.Header {
  background-color: burlywood;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.main-container {
  margin: 10px auto;
  width: 60%;
  border: 1px solid #777;
}

.App aside {
  width: 22rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

.App aside h1 {
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding: 1em 2em;
  border-top: 1px soli #e3e3e3;
  line-height: 1;
}

.main.search {
  display: flex;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #e3e3e3;
}

.main.search input {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.6em 0.75em;
  background-size: 1em;
}

nav.list ul {
  list-style: none;
}

nav.list a.active {
  background-color: #3992ff;
  color: white;
}
