/*
각 컴포넌트에서 사용하는 css 는 컴포넌트 이름과 같게 명명한다
*/
nav.main {
  display: flex;
}

/*
a tag display는 inline 속성을 갖는다
inline 속성은 padding, width, height 속성이 안된다
a tag 를 감싸는 nav tag 에 display 를 flex 로 설정하므로써
a tag flex-item 이 되며 inline-block 속성을 띄게 된다
*/
nav.main a {
  padding: 12px 16px 3px 16px;
  margin: 6px;
  border-bottom: 3px solid transparent;
  transition: 0.7s;
}

nav.main a:hover {
  border-bottom: 3px solid yellowgreen;
}

nav.main a:nth-of-type(4) {
  margin-left: auto;
}
